@mixin alltransition($time){
  transition: all $time;
  -moz-transition: all $time;
  -webkit-transition: all $time;
}
body,html{
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}
ul,ol{
  list-style: none;
}
img{
  width: 100%;
}
.textLeft{
  text-align: left;
}
.Home{
    text-align: center;
    .mainContent{
      padding-top: 80px;
    }

    .mapWrap{
      position: fixed;
      width: 50%;
      height:100%;
      top:0;
      right:0;
    }
      
}
.headerMenu{
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 28px;
  top:0;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  
  .imgWrap{
    width: 111px;
  }
  .searchWrap{
    width: 80%;
  }
  .avatarIcon{
     width: 56px;
  }
}
.houseListWrap{
   padding: 40px 24px 0;
}
.locationFilter{
  // display: flex;
  // flex-direction: row;
}
.priceAndEvaluate{
  display: flex;
}
.prevImg{
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.userInfoBar{
  position: fixed;
  max-width: 493px;
  width: 100%;
  height: 100vh;
  top:80px;
  right:-500px;
  &.active{
    right:0;
  }
  z-index: 5;
  background: #FFFFFF;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  @include alltransition(1s);
  .userInfo{
     margin-top: 80px;
     .name{
      font-size: 32px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0em;
      margin:0;
     }
     .rare{
      font-size: 24px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0em;
      color: #AAAAAA;
      margin:0;
     }
  }

}

.houseListContent{
  margin-top: 63px;
  .title{
    color:#666666;
    font-size: 32px;
    line-height: 46px;
  }
  .houseInfoBox{
     display: block;
     p{
       margin:8px auto;
       font-size: 18px;
       line-height: 26px;
       color:#000;
       font-weight: bold;
     }
     .priceBox{
       text-align: right;
        color:#00C3FF;
        span:first-child{
          font-size:24px;
        }
        span:last-child{
          font-size:14px;
          margin-left: 8px;
        }
     }
  }
}

.houseInfoList{
  padding: 24px 16px;
  // li{
  //   padding: 24px 16px;
  // }
  .prevImgWrap{
    max-width: 101px;
  }
  .info{
    font-size:18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .price{
    font-size:16px;
    font-weight: 900;
    color:#00C3FF;
  }
  .rareContent{
    p{
      margin-bottom: 0px;
    }
  }
}
// modal
.modalWrap{
  position: relative;
  .modalContent{
    background-color: #fff;
    padding: 24px;
    min-width: 497px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    left: 0;
    z-index: 2;
    margin-top: 16px;
  }
  .priceRangeInputContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price_dash{
      display: inline-block;
      width: 24px;
      height: 2px;
      background: #C4C4C4;
    }
    .priceInputBox{
      width:45%;
      padding:8px;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 4px;
      p{
        color:#AAAAAA;
        font-size: 16px;
      }
      input{
        border:0;
        outline: none;
        width: 100%;
      }
    }
  }
}