.Home{
    text-align: center;
    .mainContent{
      padding-top: 80px;
    }

    .mapWrap{
      width: 100%;
      height:100vh;
      min-height: 500px;
    }
      
      
  }
.headerMenu{
  min-height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  .imgWrap{
    max-width: 102px;
    img{
      width: 100%;
    }
  }
  .searchWrap{
    width: 80%;
  }
}
  
  